# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild
Library/*
sysinfo.txt
*.stackdump
*.meta

# Visual Studio / MonoDevelop generated
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
/*.suo
/*.user
/*.unityproj
/*.booproj
ControlStrings/[Bb]in/

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db


Runner/bin/Debug/netcoreapp2.1/ControlStrings.dll
Runner/bin/Debug/netcoreapp2.1/ControlStrings.pdb
Runner/bin/Debug/netcoreapp2.1/Runner.dll
Runner/bin/Debug/netcoreapp2.1/Runner.pdb
Runner/bin/Debug/netcoreapp2.1/Runner.runtimeconfig.dev.json
