# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild
Library/*
sysinfo.txt
*.stackdump
*.meta

# Visual Studio / MonoDevelop generated
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.pidb
/*.suo
/*.user
/*.unityproj
/*.booproj
ControlStrings/[Bb]in/
bin/
obj/

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db


Runner/bin/
Runner/obj/
